%div.line{ class: message.classes }
  %time= message.created_at
  %span.sender
    - if message.scope
      %span.scope= message.scope
    - if message.name
      %span.name= message.name
  %span.body
    :markdown
      #{message.body}
