%div.line{ class: message.classes }
  %time= l message.created_at, :format => :short
  %span.sender
    - if message.scope
      %span.scope= message.scope
    - if message.nick
      %span.nick= message.nick
  %span.body
    :markdown
      #{message.body}
