- @users.each do |user|
  %li{ class: classes_for(user) }
    = image_tag "user.png", alt: ""
    .name= user.login
    .char= user.nick
    %button.sheet{ 'data-id' => user.id }
      Character Sheet
