.chat
  .line.message
    %span.sender
      -# TODO: If any scope is set…
      %span.scope [DM]
      %span.name rmasoni
    .body
      :markdown
        You're in the woods. Some noises are coming from the nearby bushes.

  .line.message
    %span.sender
      %span.char Sir Lancelot
      %span.name dlibanori
    .body
      :markdown
        Beware everyone!

  .line.me
    %span.sender
      %span.char Sir Lancelot
    .body
      :markdown
        draws his sword and shield.

  .line.message
    %span.sender
      %span.char Merlin the Mage
      %span.name vitorfs
    .body
      :markdown
        It must be the goblins!

  .line.message
    %span.sender
      -# TODO: If any scope is set…
      %span.scope [OOC]
      %span.name vitorfs
    .body
      :markdown
        I'll cast goblin detection.

  .line.message
    %span.sender
      -# TODO: If any scope is set…
      %span.scope [DM]
      %span.name rmasoni
    .body
      :markdown
        Roll 2d6.

  .line.dice
    %span.sender
      %span.scope [Dice]
      %span.name vitorfs
    .body
      -# TODO: Dinamically prints the dice roll and sums the results if more than one dice.
      :markdown
        rolls 2d6. 5 + 2 = **7**

  .line.message
    %span.sender
      %span.scope [DM]
      %span.name rmasoni
    .body
      :markdown
        `Merlin the Mage (vitorfs)` strongly feels the presence of goblins around. An arrow is shot from the brushes towards `Sir Lancelot (dlibanori)`!

  .line.message
    %span.sender
      %span.scope [NPC]
      %span.name Goblin
    .body
      :markdown
        DIIIE!!

%form
  %fieldset
    %input( type="text" )
