.chat

  .content

    .line.system.first
      :markdown
        Welcome to RailsPG! Set up a nickname with `/nick Nickname`.

  = form_for Message.new do |form|
    %fieldset
      = form.hidden_field :sent, value: true
      = form.hidden_field :original, value: true
      = form.text_field :plain, tabindex: 1, autofocus: 'autofocus', placeholder: 'Type your message and press Enter/Return to send.'

%aside
  .players
    %ul

  %label.auto-scroll
    %input( type="checkbox" checked )
    Auto-scroll
