.chat

  .content

    .line.system
      .body
        :markdown
          Welcome to **rmasoni**'s RPG session.

    .line.system
      .body
        :markdown
          **pedobear** left the chat.

    .line.system
      .body
        :markdown
          **paulorss** left the chat.

    .line.tell
      .body
        :markdown
          You're in the woods. Some noises are coming from the nearby bushes.

    .line.say
      %span.sender
        %span.name Sir Lancelot
      .body
        :markdown
          Beware everyone!

    .line.me
      %span.sender
        %span.name Sir Lancelot
      .body
        :markdown
          draws his sword and shield.

    .line.say
      %span.sender
        %span.name Merlin the Mage
      .body
        :markdown
          It must be the goblins!

    .line.ooc
      %span.sender
        -# TODO: If any scope is set…
        %span.scope [OOC]
        %span.name vitorfs
      .body
        :markdown
          I'll cast goblin detection.

    .line.dm
      %span.sender
        -# TODO: If any scope is set…
        %span.scope [DM]
        %span.name rmasoni
      .body
        :markdown
          Roll 2d6.

    .line.dice
      %span.sender
        %span.scope [Dice]
        %span.name vitorfs
      .body
        -# TODO: Dinamically prints the dice roll and sums the results if more than one dice.
        :markdown
          rolls 2d6. 5 + 2 = **7**

    .line.tell
      .body
        :markdown
          **Merlin the Mage** strongly feels the presence of goblins around. An arrow is shot from the bushes towards **Sir Lancelot**!

    .line.npc
      %span.sender
        %span.scope [NPC]
        %span.name Goblin
      .body
        :markdown
          DIIIE!!

    .line.system
      .body
        :markdown
          **[DM] rmasoni** muted **dlibanori**.

  %form
    %fieldset
      %input( type="text" tabindex="1" placeholder="Type your message and press Enter/Return to send." )

%aside
  .players
    %ul
      %li.dm.host
        .name rmasoni
        .char Dungeon Master
      %li
        .name dlibanori
        .char Sir Lancelot
      %li
        .name vitorfs
        .char Merlin the Mage
    %button Invite Players
