body,
input,
select,
button
  font-family: Istok Web, sans-serif

html
  height: 100%

body
  background-color: #433
  color: rgba(#000, .8)
  height: 100%

strong
  font-weight: bold

em
  font-style: italic

code
  font-family: monospace
