.chat
  background: #{inline_image("lightpaperfibers.png")}
  font-size: .9em
  height: 100%
  line-height: 2em
  margin: 0 500px 0 0
  padding: 1em
  position: relative
  @include border-radius(5px)
  @include box-shadow(0 0 5px rgba(#000, .5))
  @include box-sizing(border-box)

  .content
    bottom: 65px
    left: 1em
    overflow-y: auto
    position: absolute
    right: 1em
    top: 41px

    .line

      time
        color: #999
        display: inline-block
        font-family: Istok Web, sans-serif
        font-size: .8em
        font-style: normal
        width: 75px

      .sender
        display: inline
        font-weight: bold

        .scope:after
          content: "]"

        .scope:before
          content: "["

        .name

          &:after
            content: ":"

      .body
        display: inline

        p
          display: inline

      &.dm
        color: #a3c

      &.npc
        color: #3a6

      &.ooc

        .sender
          font-weight: normal

      &.say

      &.whisper

      &.me
        color: rgba(#000, .3)

        .name:after
          content: ""

      &.tell
        display:block
        font-family: Droid Serif, serif
        font-style: italic
        margin: 1em 0

      &.dice
        color: #c80

        strong
          background-color: #c80
          color: #fff
          padding: .05em .5em
          @include border-radius(.5em)

        .name:after
          content: ""

      &.system
        color: #36a

        .name:after
          content: ""

  form
    bottom: 1em
    left: 1em
    position: absolute
    right: 1em

    input[type="text"]
      border: none
      font-size: 1em
      padding: 5px 10px
      width: 100%
      @include border-radius(5px)
      @include box-shadow(inset 0 1px 5px rgba(#000, .5))
      @include box-sizing(border-box)

      &:focus
        outline: none
        @include box-shadow(inset 0 1px 5px rgba(#000, .5), 0 0 0 1px #39e)
